body{
  background: rgb(108, 105, 105);
}
#music-player {
  text-align: center;
  padding: 20px;
  background-color: rgb(234, 78, 26);
  margin: 5rem 28rem;
  border-radius: 10px;
}

#controls {
  margin-bottom: 20px;
}

#play-btn,
#pause-btn {
  font-size: 24px;
  padding: 10px 20px;
  margin-right: 10px;
}

#song-title {
  font-size: 20px;
  margin-bottom: 10px;
}
